
# Mobile Tools for Java (J2ME)


# Package Files #
*.jar
*.war
*.ear

/.arc_jira_lib
/.externalToolBuilders
.project
*.settings/
.classpath
/build
.idea/*
/logs
*target/
*.iml
*.orig
*~
hbase-*/test
*.iws
*.ipr
patchprocess/
.log/
